<div class="container" 
     *ngIf="user">
  <h1>
    {{title}}
  </h1>
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-info">
        <div class="panel-heading">
          User Information
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="user_name"> Name </label>
            <input type="text" 
                   id="user_name" 
                   class="form-control" 
                   [(ngModel)]="user.name"
                   fullName
                   #userName="ngModel" />
            <div class="alert alert-danger"
                 *ngIf="userName.errors?.fullName">
              Invalid User Name
              </div>
          </div>
          <div class="form-group">
            <label for="user_email"> Email </label>
            <input id="user_email" class="form-control" [(ngModel)]="user.email" />
          </div>
          <br />
          <div class="form-group">
            <label for="user_isEmployee"> 
              <input  id="user.isEmployee" 
                      type="checkbox"
                      [(ngModel)]="user.isEmployee"/>
                Employee
            </label>
          </div>
          <div class="form-group">
            <label for="departmentId"> Department </label>
            <select id="departmentId" class="form-control" [(ngModel)]="user.departmentId"> 
              <option></option> 
              <option *ngFor="let department of departments"
                      [value]="department.id"> 
                {{department.name}}
              </option> 
            </select>
          </div>
        </div>
      </div>
      <phone-editor [(phones)]="user.phones"
                    #phoneEditor>
      </phone-editor>
    </div>
    <div class="col-md-4">
      <pre>{{ user | json }}</pre>
    </div>
  </div>
  <button class="btn btn-success btn-block btn-lg"
          (click)="save()">
    Save
  </button>
  <a class="btn btn-default btn-block btn-lg" 
     routerLink="../../accounts">
    Back to List
  </a>
  <button class="btn btn-warning btn-block btn-lg"
          (click)="phoneEditor.clearList()">
    Clear Phones
  </button>
  <button class="btn btn-default btn-block btn-lg"
          (click)="debug(userName)">
    Debug
  </button>
</div>